{% extends 'base.html' %}

{% block content %}
<div class="container pt-3 min-vh-100">
    <h4>Sign in</h4>
    <hr class="hr" />
    <form method="POST" action="{% url 'login' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-success">Sign in</button>
    </form>
    <hr class="hr" />
    <p>Forgot your password ? <a href="{% url 'password_reset' %}">Reset password</a></p>
    <p>Don't have a account? <a href="{% url 'register' %}">Register now</a></p>
</div>
{% endblock %}